#app
  #top-status.status
  #top-error.error
  #game
    p Your name:
      #name
    p All players:
      #players
    h1#state
    #buttons
      #rock rock
      #paper paper
      #scissors scissors


script(src="/socket.io/socket.io.js")
script(src="/js/app.js")