#app
  #top-status.status
  #top-error.error
  #game
    p Your name:
      #name
    p All players:
      #players
    h1#state
    #buttons.hidden
      span#left(onclick="left()")
        img
      span#right(onclick="right()")
        img


script(src="/socket.io/socket.io.js")
script(src="/js/app.js")