#app
  #top-status.status
  #top-error.error
  #game
    p Your name:
      #name
    p All players:
      #players
    h1#state
    #buttons
      #left(onclick="left()") LEFT IMAGE
      #right(onclick="right()") RIGHT IMAGE


script(src="/socket.io/socket.io.js")
script(src="/js/app.js")